/vitis_batch_generate_rtl/gen_hls.bat
/vitis_batch_generate_rtl/hls.cfg
/vitis_batch_generate_rtl/prj
/vitis_batch_generate_rtl/__pycache__
/vitis_batch_generate_rtl/vitis_hls.log
/vitis_batch_generate_rtl/result.log
/vitis_batch_generate_rtl/hls_func_list.txt
/vitis_batch_generate_rtl/hls_summary.csv
/hls_tools_script/*.log
/extract_func_name/__pycache__
/cosim_code_generator/__pycache__
/cosim_code_generator/hls_tb.cpp
/cosim_code_generator/hls_capture.cpp
/autonet/workspace
/autonet/__pycache__
/autonet_patch/__pycache__
/build/linux/testlenet
/build/linux/CMakeFiles
/build/linux/cmake_install.cmake
/build/linux/Makefile
/build/linux/CMakeCache.txt
/build/riscv-sim/CMakeCache.txt
/build/riscv-sim/Makefile
/build/riscv-sim/CMakeFiles
/build/riscv-sim/cmake_install.cmake
/build/riscv-sim/testlenet.S
/build/riscv-sim/testlenet.elf
/build/riscv-sim/testlenet.elf.map
/build/riscv-sim/testlenet.img
/source/*.gch
/source/*.bak
/cosim_code_generator/function_list.json
/autonet/result.log
/autonet/pyarmor_runtime_000000/__pycache__
/xgen/pyarmor_runtime_000000/__pycache__
